overrides/*

!overrides/opts/
!overrides/config/
!overrides/events/

overrides/opts/.gitkeep
overrides/config/.gitkeep

overrides/opts/*
!overrides/opts/.gitkeep

overrides/config/*
!overrides/config/.gitkeep

overrides/events/*
!overrides/events/.gitkeep

