overrides/*

!overrides/opts/
!overrides/config/
!overrides/events/
!overrides/mappings/

overrides/opts/.gitkeep
overrides/config/.gitkeep
overrides/mappings/.gitkeep

overrides/opts/*
!overrides/opts/.gitkeep

overrides/config/*
!overrides/config/.gitkeep

overrides/events/*
!overrides/events/.gitkeep

overrides/mappings/*
!overrides/mappings/.gitkeep

